.contenedorContable{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 90%;

    box-sizing: content-box;
    

    /* border-style: solid; */
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* border-style: solid; */
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    border-radius: 5px;

    margin: 50px;
    text-align: left;
    table-layout: fixed;
}

/* Centra el contenido de todas las celdas excepto la primera y la última columna */
table td:not(:first-child):not(:last-child), 
table th:not(:first-child):not(:last-child) {
    text-align: center;
}

/* Alinea la última columna a la izquierda */
table td:last-child, table th:last-child {
    display: flex;
    justify-content: right;
    /* text-align: right; */
}

select, input{
    height:50px;
    width: 200px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



form{
    /* border-style: solid; */
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(199,227,253);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

th {
    /* background-color: blue; */
    padding: 20px;
    height: 50px;
    font-size: 20px;
  
}
td {
    padding: 20px;
    /* color: white; */
    /* border-style: solid; */

    
    border-style: solid none none none;
    border-color: rgb(235,235,235);
}

h1 {
    text-align: left;
    margin: 20px;
    color: #333;
    width: 100%;
}

.formularioContable {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

