.formularioTodo {
    display: flex;
    flex-direction: column;

    gap: 100px;
    background-color: white;
    
    height: 100%;
    width: 35vw;
    min-width: 600px;
    
    padding: 40px;
    border-radius: 10px;

    /* border-style: solid; */
}

.contenedorInf_formulario {

    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.textArea_formularioTodo{
    height: 200px;
    padding: 20px;
}

.titulos_formularioTodo{
    font-size: 30px;
}

.btn_formularioTodo{

    height: 50px;
    width: 200px;
    cursor: pointer;

}