.DetailRecipe{
  margin-top: 12vh;
  padding: 20px;
  width: 70vw;
  display: flex;
  /* border-style: solid; */
}

.DetailRecipe .receta {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Tomamos el mayor de los dos */
  padding: 20px;

  /* border-style: solid; */
  width: 100%;
}

.DetailRecipe .cuadrantes {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espacio entre título, descripción y tiempo/cena */
  width: 100%;
  justify-content: space-between;
  /* border-style: solid; */
}

.DetailRecipe .cuadrante1 {
  display: flex;
  gap: 20px ;
  

}

.DetailRecipe .submit_formulario {
  align-self: flex-start;
  padding: 8px 90px;
  background-color: #dd7e19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;

}

.DetailRecipe .top-container{
  display: flex;
  flex-direction: row;
  gap: 20px;

  padding-bottom: 50px;
  border-style: none none solid none;
 
}

.DetailRecipe .contenedor-ingredientes{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  width: 30%;

  
  /* border-style: solid; */
  justify-content: space-between;
  max-height: 500px;
 
}

.DetailRecipe .lista-ingredientes{
  display: flex;
  flex-direction: column;
  height: 100%;
  
  /* gap: 20px; */
  
  /* border-radius: 10px; */
  /* border-style: solid; */
  max-height: 500px;
}

.DetailRecipe .lista-ingredientes h3{
  padding: 20px 0px;
  border-style: none none solid none;
}

.DetailRecipe .lista-ingredientes li {
  padding: 20px;
  list-style: none;
  border-style: solid;
  border-color: rgb(235, 235, 235);
}

.contenido1 {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espacio entre título, descripción y tiempo/cena */
}

.imagen-receta {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.tiempoycena {
  display: flex;
  gap: 75px;
}

.ingredientesypasos {
  display: flex;
  gap: 300px;

}

.DetailRecipe .comentarios {
  margin-top: 30px;
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 100%;
}

.comentarios h3 {
  margin-bottom: 15px;
}

.comentario-contenedor, .nuevo-comentario-contenedor {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.iconocomentario, .iconocomentarionuevo {
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border-radius: 50%;
  flex-shrink: 0;
}

.comentario {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 250px;
}

.nuevo-comentario-datos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ComentarioNuevo {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d78a0e;
  min-height: 20px;
  resize: vertical;
}

.boton2 {
  align-self: flex-start;
  padding: 8px 16px;
  background-color: #da951f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
