:root {
  --elevation-0: none;
  --elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.2), 
                 0px 1px 1px rgba(0, 0, 0, 0.14), 
                 0px 2px 1px rgba(0, 0, 0, 0.12);
  --elevation-2: 0px 3px 6px rgba(0, 0, 0, 0.16), 
                 0px 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0px 10px 20px rgba(0, 0, 0, 0.19), 
                 0px 6px 6px rgba(0, 0, 0, 0.23);
                   --body-text-card-font-family: "Inter", Helvetica;
  --body-text-card-font-size: 13px;
  --body-text-card-font-style: normal;
  --body-text-card-font-weight: 400;
  --body-text-card-letter-spacing: 0px;
  --body-text-card-line-height: 17px;
  --colecci-n-de-variables-error-color: rgba(254, 70, 58, 1);
  --colecci-n-de-variables-input-color: rgba(248, 246, 242, 1);
  --colecci-n-de-variables-second-color: rgba(237, 175, 30, 1);
  --colecci-n-de-variables-text-input-color: rgba(74, 74, 74, 1);
  --header-card-font-family: "Inter", Helvetica;
  --header-card-font-size: 20px;
  --header-card-font-style: normal;
  --header-card-font-weight: 600;
  --header-card-letter-spacing: -0.4px;
  --header-card-line-height: 120.00000476837158%;
  
}

.elevation-0 { box-shadow: var(--elevation-0); }
.elevation-1 { box-shadow: var(--elevation-1); }
.elevation-2 { box-shadow: var(--elevation-2); }
.elevation-3 { box-shadow: var(--elevation-3); }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border-style: solid; */
  
 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  

  
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
